build --repo_env=CC=clang-18
build --features=layering_check
build --cxxopt=-std=c++20 --repo_env=CXX=clang++-18
build --cxxopt=-I/usr/include/c++/11
build --cxxopt=-I/usr/include/x86_64-linux-gnu/c++/11
build --linkopt=-L/usr/lib/gcc/x86_64-linux-gnu/11
